/*Cada elemento da paleta de cores deverá ter uma borda preta, sólida e com 1 pixel de largura;*/
.color {
    border: 1px solid black;
    display: inline-block ;   
}

button {
    width: 100px;
    height: 100px;
    margin: 10px;
}
