/*Cada elemento da paleta de cores deverá ter uma borda preta, sólida e com 1 pixel de largura;*/
.color {
    border: 1px solid black;
    display: inline-block ;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 15px;
}


.color:first-child {
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: black;
  }
  
  .color:nth-child( 2 ) {
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
  }
  
  .color:nth-child( 3 ) {
    border-radius: 5px;
    background-color: rgb(64, 0, 255);
  }
  
  .color:last-child {
    border-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(0, 255, 0);
  }
  
  